.mainBody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    top: -50px;
}


.checkButtons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.connectionOption
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.metamaskAccounts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 999;
    background-color: white;
}

.account
{
    width: 400px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedAccount
{
    background-color: black;
    color: white;
}

.account:hover
{
    background-color: black;
    color: white;
    
}

.sendKeys
{
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.sendKeys:hover
{
    background-color: black;
    color: white;
}

.privateKeySet
{
    width: 600px;
    height: 80px;
    background-color: transparent;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
}

.privateKeySet:focus
{
    outline: none;
}

.privateKeySet::placeholder
{
    text-align: center;
}