.mainBody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;
    position: relative;
}

.showSaveButton
{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 5px;
    background-color: transparent;
}

.showSaveButtonActive
{
    display: block;
}

.showSaveButtonHide
{
    display: none;
}


.account
{
    width: 400px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedAccount
{
    background-color: black;
    color: white;
}

.account:hover
{
    background-color: black;
    color: white;
    
}



.privateKeySet
{
    width: 400px;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.privateKeySetVisible
{
    display: block;
}

.privateKeySetHidden
{
    display: none;
}

.hideButton
{
    display: none;
}

.showButton
{
    display: block;
}

.generateKeys
{
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.generateKeys:hover
{
    background-color: black;
    color: white;
}

.publicKey, .privateKey
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.publicKey button, .privateKey button
{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color:black;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    transition: 0.3s;
    border-radius: 2px;
    cursor: pointer;
}

.publicKey button:hover
{
    background-color: black;
}

.privateKey button:hover
{
    background-color: black;
}



.key
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;

    font-size: 20px;
    font-weight: 600;
}

.key input
{
    width: 500px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
}

.key input:focus
{
    outline: none;
}

.keys
{
    width: 600px;
    height: fit-content;
    padding: 25px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: -250px;
    background-color: white;
}

.keysButtons
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
}

.keysButtons button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}