@font-face {
    font-family: 'ReadexPro';
    src: url('./ReadexPro.ttf') format('truetype');
  }

  *
  {
    font-family: 'ReadexPro';
  }

  body
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }